Up next is: <X>
Next is: <X>
Next up: <X>
Check this out: <X>
Check this: <X>
Vibe to this: <X>
Now playing: <X>
Queuing up: <X>
Here's <X> coming atcha
Listen to this: <X>
Here's a mix called <X>
Here's a set called: <X>
Coming up: <X>
Now hear this: <X>
How about: <X>
How about this: <X>
Turning on: <X>
Turning up: <X>
Turn this up: <X>
And now: <X>
Ladies and gentlemen: <X>
Here are the soothing sounds of <X>
Step to this: <X>