aneeda_en:
  add_service_crf:
    current:
      model_file: add_service_crf_171121_010919.model_file
    previous:
      model_file: add_service_crf_171121_010919.model_file
  aneeda_opinion_crf:
    current:
      model_file: aneeda_opinion_crf_171121_012436.model_file
    previous:
      model_file: aneeda_opinion_crf_171121_012436.model_file
  business_address_crf:
    current:
      model_file: business_address_crf_171121_012620.model_file
    previous:
      model_file: business_address_crf_171121_012620.model_file
  business_hours_crf:
    current:
      model_file: business_hours_crf_171121_012447.model_file
    previous:
      model_file: business_hours_crf_171121_012447.model_file
  business_phone_crf:
    current:
      model_file: business_phone_crf_171121_013129.model_file
    previous:
      model_file: business_phone_crf_171121_013129.model_file
  business_price_crf:
    current:
      model_file: business_price_crf_171121_010749.model_file
    previous:
      model_file: business_price_crf_171121_010749.model_file
  business_rating_crf:
    current:
      model_file: business_rating_crf_171121_005559.model_file
    previous:
      model_file: business_rating_crf_171121_005559.model_file
  business_reviews_crf:
    current:
      model_file: business_reviews_crf_171121_010413.model_file
    previous:
      model_file: business_reviews_crf_171121_010413.model_file
  business_search_crf:
    current:
      model_file: business_search_crf_171121_011101.model_file
    previous:
      model_file: business_search_crf_171121_011101.model_file
  calendar_check_event_crf:
    current:
      model_file: calendar_check_event_crf_171121_183715.model_file
    previous:
      model_file: calendar_check_event_crf_171121_183715.model_file
  calendar_create_event_crf:
    current:
      model_file: calendar_create_event_crf_171121_011208.model_file
    previous:
      model_file: calendar_create_event_crf_171121_011208.model_file
  calendar_show_event_crf:
    current:
      model_file: calendar_show_event_crf_171121_183822.model_file
    previous:
      model_file: calendar_show_event_crf_171121_183822.model_file
  cancel_dialogue_crf:
    current: &id001
      model_file: cancel_dialogue_crf_171017_195221.model_file
    previous: *id001
  change_service_crf:
    current:
      model_file: change_service_crf_171121_004549.model_file
    previous:
      model_file: change_service_crf_171121_004549.model_file
  clock_time_crf:
    current:
      model_file: clock_time_crf_171121_004559.model_file
    previous:
      model_file: clock_time_crf_171121_004559.model_file
  control_get_details_crf:
    current: &id002
      model_file: control_get_details_crf_171017_195221.model_file
    previous: *id002
  control_help_crf:
    current:
      model_file: control_help_crf_171121_004947.model_file
    previous:
      model_file: control_help_crf_171121_004947.model_file
  control_next_crf:
    current:
      model_file: control_next_crf_171121_005607.model_file
    previous:
      model_file: control_next_crf_171121_005607.model_file
  control_pause_crf:
    current:
      model_file: control_pause_crf_171121_013140.model_file
    previous:
      model_file: control_pause_crf_171121_013140.model_file
  control_previous_crf:
    current:
      model_file: control_previous_crf_171121_004952.model_file
    previous:
      model_file: control_previous_crf_171121_004952.model_file
  control_repeat_crf:
    current:
      model_file: control_repeat_crf_171121_012823.model_file
    previous:
      model_file: control_repeat_crf_171121_012823.model_file
  control_resume_crf:
    current:
      model_file: control_resume_crf_171121_004950.model_file
    previous:
      model_file: control_resume_crf_171121_004950.model_file
  control_stop_crf:
    current:
      model_file: control_stop_crf_171121_010745.model_file
    previous:
      model_file: control_stop_crf_171121_010745.model_file
  correction_crf:
    current:
      model_file: correction_crf_171121_012816.model_file
    previous:
      model_file: correction_crf_171121_012816.model_file
  default_crf_model:
    current: null
  disabled_intent_crf:
    current: &id003
      model_file: disabled_intent_crf_171017_195221.model_file
    previous: *id003
  distinguish_sentiment:
    current: null
  email_compose_crf:
    current:
      model_file: email_compose_crf_171121_005012.model_file
    previous:
      model_file: email_compose_crf_171121_005012.model_file
  email_default_account_crf:
    current:
      model_file: email_default_account_crf_171121_012456.model_file
    previous:
      model_file: email_default_account_crf_171121_012456.model_file
  email_reply_crf:
    current:
      model_file: email_reply_crf_171121_010903.model_file
    previous:
      model_file: email_reply_crf_171121_010903.model_file
  email_show_crf:
    current:
      model_file: email_show_crf_171121_183055.model_file
    previous:
      model_file: email_show_crf_171121_183055.model_file
  filter_profanity_crf:
    current: &id004
      model_file: filter_profanity_crf_171017_195222.model_file
    previous: *id004
  find_recipe_crf:
    current:
      model_file: find_recipe_crf_171121_012708.model_file
    previous:
      model_file: find_recipe_crf_171121_012708.model_file
  intent_classifier:
    current:
      model: model_171121_182904.model
      weights: model_171121_182904.weights
    previous:
      model: model_171121_182904.model
      weights: model_171121_182904.weights
  intro_crf:
    current: &id005
      model_file: intro_crf_171017_205149.model_file
    previous: *id005
  music_album_tracks_crf:
    current: &id006
      model_file: music_album_tracks_crf_171017_195221.model_file
    previous: *id006
  music_albums_crf:
    current:
      model_file: music_albums_crf_171121_010455.model_file
    previous:
      model_file: music_albums_crf_171121_010455.model_file
  music_artist_summary_crf:
    current: &id007
      model_file: music_artist_summary_crf_171017_195221.model_file
    previous: *id007
  music_artist_top_songs_crf:
    current: &id008
      model_file: music_artist_top_songs_crf_171017_195221.model_file
    previous: *id008
  music_collection_add_crf:
    current:
      model_file: music_collection_add_crf_171121_013304.model_file
    previous:
      model_file: music_collection_add_crf_171121_013304.model_file
  music_collection_view_crf:
    current:
      model_file: music_collection_view_crf_171121_012830.model_file
    previous:
      model_file: music_collection_view_crf_171121_012830.model_file
  music_get_more_crf:
    current: &id009
      model_file: music_get_more_crf_171017_195221.model_file
    previous: *id009
  music_id_crf:
    current: &id010
      model_file: music_id_crf_171017_195948.model_file
    previous: *id010
  music_info_concerts_crf:
    current:
      model_file: music_info_concerts_crf_171121_012512.model_file
    previous:
      model_file: music_info_concerts_crf_171121_012512.model_file
  music_info_similar_artists_crf:
    current:
      model_file: music_info_similar_artists_crf_171121_010305.model_file
    previous:
      model_file: music_info_similar_artists_crf_171121_010305.model_file
  music_play_crf:
    current:
      model_file: music_play_crf_171121_005644.model_file
    previous:
      model_file: music_play_crf_171121_005644.model_file
  music_replay_crf:
    current:
      model_file: music_replay_crf_171121_012223.model_file
    previous:
      model_file: music_replay_crf_171121_012223.model_file
  news_search_crf:
    current:
      model_file: news_search_crf_171121_183349.model_file
    previous:
      model_file: news_search_crf_171121_183349.model_file
  no_intent_found_crf:
    current: &id011
      model_file: no_intent_found_crf_171017_195220.model_file
    previous: *id011
  permission_request_crf:
    current: &id012
      model_file: permission_request_crf_171017_195954.model_file
    previous: *id012
  proactive_hints_crf:
    current: &id013
      model_file: proactive_hints_crf_171017_195221.model_file
    previous: *id013
  proactive_notifications_crf:
    current: &id014
      model_file: proactive_notifications_crf_171017_195220.model_file
    previous: *id014
  proactive_recommendations_crf:
    current: &id015
      model_file: proactive_recommendations_crf_171017_195220.model_file
    previous: *id015
  remove_service_crf:
    current:
      model_file: remove_service_crf_171121_012211.model_file
    previous:
      model_file: remove_service_crf_171121_012211.model_file
  restaurant_reservation_crf:
    current:
      model_file: restaurant_reservation_crf_171113_172000.model_file
    previous:
      model_file: restaurant_reservation_crf_171113_172000.model_file
  restaurant_search_crf:
    current:
      model_file: restaurant_search_crf_171121_012329.model_file
    previous:
      model_file: restaurant_search_crf_171121_012329.model_file
  set_alarm_crf:
    current:
      model_file: set_alarm_crf_171121_010756.model_file
    previous:
      model_file: set_alarm_crf_171121_010756.model_file
  show_history_crf:
    current:
      model_file: show_history_crf_171121_012828.model_file
    previous:
      model_file: show_history_crf_171121_012828.model_file
  sports_follow_a_game_crf:
    current:
      model_file: sports_follow_a_game_crf_171101_191007.model_file
    previous:
      model_file: sports_follow_a_game_crf_171101_191007.model_file
  sports_team_results_crf:
    current:
      model_file: sports_team_results_crf_171101_191201.model_file
    previous:
      model_file: sports_team_results_crf_171101_191201.model_file
  sports_team_schedule_crf:
    current:
      model_file: sports_team_schedule_crf_171101_183753.model_file
    previous:
      model_file: sports_team_schedule_crf_171101_183753.model_file
  sports_team_standing_crf:
    current:
      model_file: sports_team_standing_crf_171101_191543.model_file
    previous:
      model_file: sports_team_standing_crf_171101_191543.model_file
  start_dialogue_crf:
    current: &id016
      model_file: start_dialogue_crf_171017_195221.model_file
    previous: *id016
  transport_taxi_book_crf:
    current:
      model_file: transport_taxi_book_crf_171121_005231.model_file
    previous:
      model_file: transport_taxi_book_crf_171121_005231.model_file
  transport_taxi_cancel_crf:
    current:
      model_file: transport_taxi_cancel_crf_171121_013229.model_file
    previous:
      model_file: transport_taxi_cancel_crf_171121_013229.model_file
  transport_taxi_current_status_crf:
    current:
      model_file: transport_taxi_current_status_crf_171121_012150.model_file
    previous:
      model_file: transport_taxi_current_status_crf_171121_012150.model_file
  transport_taxi_destination_crf:
    current:
      model_file: transport_taxi_destination_crf_171121_012637.model_file
    previous:
      model_file: transport_taxi_destination_crf_171121_012637.model_file
  transport_taxi_estimate_travel_fare_crf:
    current:
      model_file: transport_taxi_estimate_travel_fare_crf_171121_004652.model_file
    previous:
      model_file: transport_taxi_estimate_travel_fare_crf_171121_004652.model_file
  transport_taxi_estimate_travel_time_crf:
    current:
      model_file: transport_taxi_estimate_travel_time_crf_171121_011740.model_file
    previous:
      model_file: transport_taxi_estimate_travel_time_crf_171121_011740.model_file
  transport_taxi_ride_history_crf:
    current:
      model_file: transport_taxi_ride_history_crf_171121_012037.model_file
    previous:
      model_file: transport_taxi_ride_history_crf_171121_012037.model_file
  tv_listings_crf:
    current:
      model_file: tv_listings_crf_171101_190758.model_file
    previous:
      model_file: tv_listings_crf_171101_190758.model_file
  tv_show_airings_crf:
    current:
      model_file: tv_show_airings_crf_171101_183053.model_file
    previous:
      model_file: tv_show_airings_crf_171101_183053.model_file
  tv_show_cast_crf:
    current:
      model_file: tv_show_cast_crf_171101_182053.model_file
    previous:
      model_file: tv_show_cast_crf_171101_182053.model_file
  tv_show_description_crf:
    current:
      model_file: tv_show_description_crf_171101_191117.model_file
    previous:
      model_file: tv_show_description_crf_171101_191117.model_file
  tv_show_episode_summary_crf:
    current:
      model_file: tv_show_episode_summary_crf_171101_192336.model_file
    previous:
      model_file: tv_show_episode_summary_crf_171101_192336.model_file
  tv_streaming_search_crf:
    current:
      model_file: tv_streaming_search_crf_171101_183010.model_file
    previous:
      model_file: tv_streaming_search_crf_171101_183010.model_file
  volume_control_crf:
    current:
      model_file: volume_control_crf_171121_013144.model_file
    previous:
      model_file: volume_control_crf_171121_013144.model_file
  weather_find_crf:
    current:
      model_file: weather_find_crf_171121_183523.model_file
    previous:
      model_file: weather_find_crf_171121_183523.model_file
  weather_set_alert_crf:
    current:
      model_file: weather_set_alert_crf_171121_010812.model_file
    previous:
      model_file: weather_set_alert_crf_171121_010812.model_file
