ho_en:
  cancel_dialogue_crf:
    current: &id001
      model_file: cancel_dialogue_crf_171017_195221.model_file
    previous: *id001
  clock_time_crf:
    current:
      model_file: clock_time_crf_180420_204556.model_file
    previous:
      model_file: clock_time_crf_180420_204556.model_file
  increase_decrease_crf:
    current:
      model_file: increase_decrease_crf_180420_204601.model_file
    previous:
      model_file: increase_decrease_crf_180420_204601.model_file
  intent_classifier:
    current:
      model: model_180420_180225.model
      weights: model_180420_180225.weights
    previous:
      model: model_180420_180225.model
      weights: model_180420_180225.weights
  lock_unlock_crf:
    current:
      model_file: lock_unlock_crf_180420_204557.model_file
    previous:
      model_file: lock_unlock_crf_180420_204557.model_file
  on_off_crf:
    current:
      model_file: on_off_crf_180420_204600.model_file
    previous:
      model_file: on_off_crf_180420_204600.model_file
  open_close_crf:
    current:
      model_file: open_close_crf_180420_204559.model_file
    previous:
      model_file: open_close_crf_180420_204559.model_file
  set_crf:
    current:
      model_file: set_crf_180420_204559.model_file
    previous:
      model_file: set_crf_180420_204559.model_file
  status_crf:
    current:
      model_file: status_crf_180420_204602.model_file
    previous:
      model_file: status_crf_180420_204602.model_file
  user_status_crf:
    current:
      model_file: user_status_crf_180420_204558.model_file
    previous:
      model_file: user_status_crf_180420_204558.model_file
