ho_en:
  cancel_dialogue_crf:
    current: &id001
      model_file: cancel_dialogue_crf_171017_195221.model_file
    previous: *id001
  clock_time_crf:
    current:
      model_file: clock_time_crf_171121_004559.model_file
    previous:
      model_file: clock_time_crf_171121_004559.model_file
  intent_classifier:
    current:
      model: model_171214_040955.model
      weights: model_171214_040955.weights
    previous:
      model: model_171214_040955.model
      weights: model_171214_040955.weights
